@mixin displayFlex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin w-h($w, $h) {
    width: $w;
    height: $h;
}

@mixin section_center {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin arrowCarousel {
    font-size: 2rem;
    color: $light-grey;
    @media screen and (max-width: $tablet-screen) {
        font-size: 1.2rem;
    }
}

@mixin setBackgroundImg($url, $repeat, $position, $size) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
