$black: black;
$white: white;
$dark-red: #e71a0f;
$light-grey: #898987;
$grey: #636363;
$bg-footer: #e0e0d1;
$light-shade-grey: #ddd;
$desktop-screen: 1200px;
$tablet-screen: 900px;
$mobile-screen: 500px;
