@import './base/mixin';
@import './base/variables';
@import './base/base';
@import './partial/loading';
@import './partial/header';
@import './partial/headerMobile';
@import './component/homepage';
@import './component/login&register';
@import './component/moviePage';
@import './component/movieDetail';
@import './component/search';
@import './component/eventPage';
@import './component/eventDetail';
@import './component/userPage';
@import './partial/footer';
@import './component/userManagement';